services:
  
  db:
    image: postgres:16-alpine
    container_name: users_db
    ports:
      - "5433:5432" 
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data 

 
  backend:
    container_name: crm_backend
    build:
      context: ./backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app 
    environment:
      - DATABASE_URL=postgresql+psycopg://postgres:password@db:5432/users_db
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db 

  # Servicio del Frontend (React)
  frontend:
    container_name: crm_frontend
    build:
      context: ./frontend 
    ports:
      - "3001:3000" 
    volumes:
      - ./frontend/src:/app/src 
      - /app/node_modules 
    environment:
      - CHOKIDAR_USEPOLLING=true 
    stdin_open: true 
    tty: true


volumes:
  postgres_data:
